@use '../../../../assets/variables/variables.scss' as v;

.tarjeta-contacto{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-height: 100px;
    min-width: 100px;
    padding: 20px;
    border: 1px solid v.$color-boton;
    background-color: #ffff;
    border-radius: 25px;
    p{
        display: grid;
        place-items: center;
    }
}

