$alto-header: 150px;
$alto-footer: 20px;
$alto-body: calc( 100vh - $alto-header - $alto-footer);

$color1: #565656;
$color2: #404040;
$color3: #2b2b2b;
$color4: #151515;
$color5: #000000;

$color-boton: #5015bd;