<div class="container">
    <div class="cont">
        <form #loginForm="ngForm" (ngSubmit)="generateConversion()">
            <div id="contenedor-primero">
                <div class="form-group">
                    <label for="selectTo">De</label>
                    <select class="form-control" id="selectTo" [(ngModel)]="conversion.toCurrencyId"  name="toCurrencyId">
                        <option *ngFor="let currency of currencys" [value]="currency.id">{{currency.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="input">Valor</label>
                    <input type="text" name="amount" class="form-control" id="input" name="amount" [(ngModel)]="conversion.amount">
                </div>
            </div>
            <div class="form-group">
                <label for="selectFrom">Para</label>
                <select class="form-control" id="selectFrom" [(ngModel)]="conversion.fromCurrencyId" name="fromCurrencyId">
                    <option *ngFor="let currency of currencys" [value]="currency.id">{{currency.name}}</option>
                </select>
            </div>
            <button type="submit">Convertir</button>
        </form>
        <a [routerLink]="['/subscription']"><button id="sub-btn" type="button">Subscripción</button></a>
        <a *ngIf="isAdmin()"><button id="sub-btn" type="button">Nueva Moneda</button></a>
    </div>
</div>
